@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}   

body {
    margin: 0 auto;
    background-color: #f9f9f9;
}

table {
    border-collapse: collapse;
}

::-webkit-scrollbar-track
{
    border: 5px solid #070727;
    border-color: transparent;
    background-color: #070727;
}

::-webkit-scrollbar
{
    width: 8px;
    background-color: #dfe6e9;
}

::-webkit-scrollbar-thumb
{
    background-color: #F48205;
    border-radius: 10px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

input[type="submit"] {
    cursor: pointer;
}

/* header da index e do jogo */

header.index-header, header.game-header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

header.index-header {
    background-color: rgba(20, 20, 25, 0.45);
    position: absolute;
}

header.game-header {
    background-color: rgba(7, 7, 39, 0.825);
    position: fixed;
}

div.index-header, div.game-header {
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

nav.index-header, nav.game-header {
    display: inline-flex;
}

ul.index-header, ul.game-header {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}

ul.index-header li, ul.game-header li {
    display: inline-block;
    font-size: 16px;
    line-height: inherit;
    letter-spacing: 0;
    overflow-x: hidden;
}

ul.index-header li a:not(.dropdown-link), ul.game-header li a, ul.game-header li div {
    display: block;
    font-size: 16px;
    line-height: 1.5;
    color: #F5F5F5;
    transition: color 0.2s;
}

ul.game-header li #time {
    color: #ff9900;
}

ul.index-header li a:hover, ul.game-header li a:hover {
    color: #F48205;
}

.profile-button {
    background-color: rgba(29, 29, 29, 0);
    border: none;
    cursor: pointer;
    align-items: center;
    display: flex;
    text-transform: none;
    color: #F5F5F5;
}

.profile-button div {
    display: inline-block;
    margin: auto 0;
}

.profile-button div span {
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
}

.profile-button div svg {
    display: inline-block;
    fill: currentColor;
    width: 12px;
    height: 12px;
    overflow: hidden;
    margin-left: 6px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown-link:hover {
    background-color: #ddd;
}

.dropdown-content a {
    display: block;
    padding: 12px 16px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.show {display: block;}
.svg-show {transform: rotate(180deg); color: #F48205;}
.span-show {color: #F48205;}

/* css principal da index */

div.index-section {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

#background { 
    position: absolute;
    z-index: -5;
    transition: width 0.5s;
    transform: translateX(-50%) translateY(-50%);
}

.index-section #titulo{
    position: relative;
    transform: translateY(-50%);
    color: #f5f5f5;
}

.index-section h1 {
    margin: 0;
    padding-top: 1rem;
}

.index-section #titulo div {
    margin: 0;
}

.index-section #jogo {
    position: absolute;
    transform: translateY(-50%);
}

.index-section #jogo a {
    color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.index-section a img {
    filter: brightness(5);
}

.index-section #jogo:hover img {
    filter:brightness(1);
}

.index-section #jogo:hover a {
    color: #459ee2;
}

/* Login e Cadastro */

body.login, body.cadastro {
    background: url('../_img/bg4.png');
}

div.login, div.cadastro {
    transform: translateX(-50%);
    position: relative;
    left: 50%;
    width: 90vw;
    min-height: 90vh;
    display: flex;
    color: #333;
}

.login-error #link, .cadastro-error #link {
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.login-error #link a span, .cadastro-error #link a span {
    color: #333;
    margin-left: 4px;
}

.login-error #link img, .cadastro-error #link img  {
    width: 1.5rem;
}

.login-error, .cadastro-error {
    background-color: rgba(255, 255, 255, 0.9);
}

.alert-error {
    min-width: 70%;
    max-width: 90%;
    margin: 0 auto;
    border: #f38281 1px solid;
    border-radius: 3px;
    background-color: #FBDAD9;
    top: 40%;
    position: relative;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
}

.alert-error li {
    color: #6F262F;
}

.login-form, .cadastro-form {
    background-color: #fff;
}

.login-criar-conta, .cadastro-entrar-conta {
    margin-top: 25px;
}

.login-criar-conta a, .cadastro-entrar-conta a {
    border: 2px #6DA8D6 solid;
    background: #fff;
    color: #6DA8D6;
    border-radius: 50vh;
    transition: 0.15s;
}

.login-criar-conta a:hover, .cadastro-entrar-conta a:hover {
    background: #6DA8D6;
    color: #fff;
}

.cadastro-form-article {
    margin-top: 40px;
}

.login-form-article h1 {
    font-size: 55px;
}

.cadastro-form-article h1 {
    font-size: 55px;
    margin-bottom: 15px;
}

.login-form-article input:not(input[type="submit"]), .cadastro-form-article input:not(input[type="submit"]) {
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    margin-top: 3px;
}

.login-form-article input:not(input[type="submit"]) {
    margin-bottom: 30px;
}

.cadastro-form-article input:not(input[type="submit"]) {
    margin-bottom: 20px;
}

.login-form-article label, .cadastro-form-article label {
    font-weight: 700;
}

.esqueceu-senha {
    text-align: right;
}

.esqueceu-senha a {
    color: #aaa;
}

.login-form-article input[type="submit"], .cadastro-form-article input[type="submit"] {
    height: 45px;
    color: #fff;
    background: #489cdd;
    border: none;
    border-radius: 50vh;
    font-size: 15px;
}

.cadastro-form-article input[type="submit"] {
    margin-top: 10px;
}

.login-form-article input[type="radio"] {
    margin-right: 10px;
}

.login-img img {
    height: 20px;
}

.login-img a {
    color: #333;    
}

/* página do jogo */

.question-view {
    padding-top: 110px;
    padding-bottom: 30px;
    background: url('../_img/bg4.png') fixed;
}

.question-div {
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width: 90vw;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
}

.question-div img {
    border: 2px solid #000;
} 

.question-input {
    border: 3px solid #F48205;
    border-radius: 15px;
    min-width: min-content;
    width: 100%;
}

.question-div input[type="radio"] {
    display: none;
}

.question-div label {
    color: #F48205;
    font-size: 1.1rem;
}

.question-div label div {
    border: #F48205 1px solid;
    background: #fff;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
    transition: 0.2s;
    margin: 10px;
}

.question-div label div:hover {
    background: #F48205;
    color: #fff;
}

.question-div input:checked ~ label div {
    background: #F48205;
    color: #fff;
}

.question-div input#segundos, .question-div input#minutos {
    display: none;
}

.question-div input#responder-game {
    color: #fff;
    background-color: #070727;
    padding: 10px;
    width: 120px;
    border: none;
    font-size: 1rem;
}

.finished-alert {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}

.finished-alert div {
    background-color: #fff;
    color: #333;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 20px;
    width: 400px;
}

.finished-alert div h2 {
    margin-bottom: 0;
}

.finished-alert div p {
    margin-top: 10px;
}

.finished-alert div a {
    background-color: #548fbd;
    padding: 10px;
    color: #f1f1f1;
}

.finished-alert div a#voltar {
    float: left;
}

.finished-alert div a#reiniciar {
    float: right;
}

.finished-remove {display: none;}
.finished-show {display: block;}

/* ccs resultado do jogo e classificacao*/

.body-classificacao {
    background: url('../_img/bg5.png') fixed no-repeat;
    width: 100%;
}

.resultado-section {
    background-color: #fff;
    transform: translateX(-50%);
    position: relative;
    left: 50%;
    width: 90vw;
    min-height: 83vh;
    padding-bottom: 2px;
}

.resultado-section h1 {
    margin-left: 20px;
}

.resultado-section .tables-resultados {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.table-clasificacao {
    max-height: 59vh;
    overflow-y: auto;
}

table.table-resultado, table.table-clasificacao {
    width: 100%;
}

.table-resultado td, .table-clasificacao td {
    height: 50px;
    font-size: 1.1rem;
    padding: 5px;
}

.table-resultado td {
    width: 50%;
}

.table-clasificacao td {
    min-width: 33%;
}

.table-clasificacao th {
    min-width: 100px;
}

.table-resultado .td1, .table-clasificacao .td1 {
    background: #DDD;
    border: 1px solid #b6b6b6;
}

.table-resultado .td2, .table-clasificacao .td2 {
    background: #a7d5f8;
    border: 1px solid #69aadb;
}

.table-clasificacao .tdUser {
    background: #78b6e6;
}

.table-clasificacao .thUser {
    background: #c5c5c5;
}

.link-game {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.link-game a, .search-player a {
    padding: 10px;
    background: #070727;
    color: #fff;
}

.classificacao-section {
    background-color: #fff;
    transform: translateX(-50%);
    position: relative;
    left: 50%;
    width: 90vw;
    min-height: 83vh;
    padding-bottom: 2px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search-player {
    margin-top: 20px;
    margin-bottom: 20px;
}

div.geral {
    display: flex;
    align-content: center;  
    max-height: 420px;
}

@media (min-width: 1025px) {

    header.index-header, header.game-header {
        height: 80px;
    }

    div.index-header, div.game-header {
        height: 80px;
        max-width: 1170px;
        -webkit-box-pack: justify;
        justify-content: space-between; 
        -webkit-box-direction: normal;
    }

    header.index-header img, header.game-header img {
        max-height: 78px;
        margin-top: 1px;
    }

    .navbar-highlight-white {
        background: currentColor;
        margin: 32px 17px;
        height: 16px;
        width: 2px;
        color: #F5F5F5;
    }
    

    ul.index-header li a:not(.dropdown-link), ul.game-header li a, ul.game-header li div {
        padding: 28px 12px;
    }

    .profile-button {
        padding: 20px 0;
    }

    .profile-button div {
        height: 33px;
    }

    .dropdown-content {
        width: 150px;
    }

    /* index */
    
    #background { 
        width: 120%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: -5;
        transition: width 0.5s;
    }

    .index-section #jogo:hover + #background {
        width: 140%;
    }   

    .index-section #titulo{
        margin-left: 5vw;
        top: 50%;
    }

    .index-section h1 {
        font-size: 6.2rem;
        letter-spacing: 0.05em;
    }

    .index-section #titulo div {
        width: 500px;
    }

    .index-section span {
        line-height: 4vh;
        letter-spacing: 1.3px;
    }

    .index-section #jogo {
        top: 50%;
        right: 0;
        width: 448px;
        margin-right: 5vw;
    }

    .index-section #jogo a img {
        margin-right: 10px;
    }
    
    .index-section a img {
        height: 10rem;
    }
    
    .index-section a h2 {
        font-size: 6rem;
    }

    /* login e cadastro */

    div.login, div.cadastro {
        flex-direction: row;
        margin-top: 4.5vh;
    }

    .login-error, .cadastro-error {
        width: 33%;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .login-form, .cadastro-form {
        width: 67%;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .login-criar-conta, .cadastro-entrar-conta {
        text-align: right;
        margin-right: 15px;
    }

    .login-criar-conta a, .cadastro-entrar-conta a {
        padding: 11px 18px;
    }

    .login-criar-conta a, .cadastro-entrar-conta a {
        margin-left: 10px;
    }

    .login-form-article, .cadastro-form-article  {
        margin-top: 65px;
        margin-left: 7%;
        margin-right: 7%;
    }

    .esqueceu-senha {
        margin-bottom: 30px;
    }

    .login-form-article input[type="submit"], .cadastro-form-article input[type="submit"] {
        width: 33%;
        margin-bottom: 15px;
    }

    .alert-error {
        height: 40%;
        transform: translateY(-50%);
    }

    .alert-error li {
        margin: 15px;
    }

    /* página do jogo */

    .body-classificacao {
        background-size: 100%;
    }

    .question-div div .question-alt {
        float: right;
        width: 18%;
    }

    .question-div img {
        max-width: 80%;
        margin-bottom: 30px;
    }

    .question-input {
        padding-top: 5px;
    }

    .link-question {
        color: #fff;
        background-color: #F48205;
        padding: 8px;
        display: inline-block;
    }
    
    .link-question div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    /* resultado e classificação */
    
    .resultado-section, .classificacao-section {
        margin-top: 100px;
    }

    .resultado-section .tables-resultados {
        flex-direction: row;
    }
    
    .navbar-highlight-black {
        background: currentColor;
        margin: 4vh 17px;
        height: 52vh;
        width: 2px;
        color: #333;
    }

    div.table-resultado, div.table-clasificacao {
        width: 45%;
    }

    .link-game {
        margin: 10px;
        margin-left: 41px;
        margin-right: 41px;
    }

    div.geral {
        width: 95%;
    }

}

@media (max-width: 1024px) {

    header.index-header, header.game-header {
        height: 125px;
    }

    div.index-header, div.game-header {
        height: 125px;
        flex-direction: column;
        align-items: center;
    }

    header.index-header img, header.game-header img {
        margin-top: 5px;
        max-height: 67.5px;
        max-width: 330px;
    }

    ul.index-header li a:not(.dropdown-link), ul.game-header li a, ul.game-header li div {
        padding: 14px 5px;
    }

    ul.index-header #cadastro {
        display: none;
    }

    .profile-button {
        padding: 14px 0;
    }

    .dropdown-content {
        width: 100px;
    }

    /* index */

    .index-section {
        background: url('../_img/bg3.png') no-repeat fixed;
        background-position: center;
        background-size: 400%;
    }

    #background { 
        display: none;
    }

    .index-section #titulo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        top: 47%;
    }

    .index-section h1 {
        font-size: 3.6rem;
        letter-spacing: 0.01em;
        width: min-content;
    }

    .index-section #titulo div {
        width: min-content;
        min-width: 329px;
    }

    .index-section #titulo span{
        line-height: 4vh;
        letter-spacing: 1.3px;
    }

    .index-section #jogo a img {
        margin-right: 5px;
    }
    
    .index-section a img {
        height: 6.2rem;
    }
    
    .index-section a h2 {
        font-size: 3.6rem;
    }

    .index-section #jogo {
        top: 70%;
        width: 100%;
    }

    /* login e cadastro */

    div.login, div.cadastro {
        flex-direction: column;
        margin-top: 2vh;
        margin-bottom: 3vh;
    }

    .login-error, .cadastro-error {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .login-form, .cadastro-form {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .login-criar-conta, .cadastro-entrar-conta {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .login-criar-conta a, .cadastro-entrar-conta a {
        padding: 5px 9px;
    }

    .login-form-article, .cadastro-form-article  {
        margin-left: 6%;
        margin-right: 6%;
    }

    .login-form-article h1 {
        text-align: center;
        margin-bottom: 25px;
        margin-top: 20px;
    }

    .esqueceu-senha {
        margin-bottom: 15px;
    }

    .login-form-article input[type="submit"], .cadastro-form-article input[type="submit"] {
        width: 100%;
        margin-bottom: 50px;
    }

    .alert-error {
        padding: 15px;
        margin-bottom: 20px;
    }

    .alert-error li {
        margin: 7px;
    }

    /* página do jogo */

    .question-div div .question-alt {
        width: 100%;
    }

    .question-div img {
        max-width: 100%;
    }

    .question-input {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .link-question {
        display: none;
    }

    .time-desktop {
        display: none;
    }

    /* resultado e classificação */

    .resultado-section, .classificacao-section {
        margin-top: 140px;
    }

    .resultado-section .tables-resultados {
        flex-direction: column;
    }

    div.table-resultado, div.table-clasificacao {
        width: 90%;
    }

    div.table-clasificacao {
        margin-top: 20px;
    }

    div.table-clasificacao::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    div.table-clasificacao::-webkit-scrollbar-corner {
        background: #070727;
    }

    .link-game {
        margin: 10px;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    table.geral {
        width: 100%;
    }
}