@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}   

body {
    margin: 0 auto;
    background-color: #f9f9f9;
}

table {
    border-collapse: collapse;
}

::-webkit-scrollbar-track
{
    border: 5px solid #070727;
    border-color: transparent;
    background-color: #070727;
}

::-webkit-scrollbar
{
    width: 8px;
    background-color: #dfe6e9;
}

::-webkit-scrollbar-thumb
{
    background-color: #F48205;
    border-radius: 10px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

input[type="submit"] {
    cursor: pointer;
}

/* header da index e do jogo */

header.index-header, header.game-header {
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 1;
}

header.index-header {
    background-color: rgba(20, 20, 25, 0.45);
    position: absolute;
}

header.game-header {
    background-color: rgba(7, 7, 39, 0.825);
    position: fixed;
}

div.index-header, div.game-header {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1170px;
    height: 80px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between; 
    -webkit-box-direction: normal;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

nav.index-header, nav.game-header {
    display: inline-flex;
}

ul.index-header, ul.game-header {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}

ul.index-header li, ul.game-header li {
    display: inline-block;
    font-size: 16px;
    line-height: inherit;
    letter-spacing: 0;
    overflow-x: hidden;
}

ul.index-header li a:not(.dropdown-link), ul.game-header li a, ul.game-header li div {
    padding: 28px 12px;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    color: #F5F5F5;
    transition: color 0.2s;
}

ul.game-header li div #time {
    color: #ff9900;
}

ul.index-header li a:hover, ul.game-header li a:hover {
    color: #F48205;
}

.profile-button {
    background-color: rgba(29, 29, 29, 0);
    border: none;
    padding: 20px 0;
    cursor: pointer;
    align-items: center;
    display: flex;
    text-transform: none;
    color: #F5F5F5;
}

.profile-button div {
    display: inline-block;
    margin: auto 0;
    height: 33px;
}

.profile-button div span {
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
}

.profile-button div svg {
    display: inline-block;
    fill: currentColor;
    width: 12px;
    height: 12px;
    overflow: hidden;
    margin-left: 6px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown-link:hover {
    background-color: #ddd;
}

.dropdown-content a {
    display: block;
    padding: 12px 16px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.show {display: block;}
.svg-show {transform: rotate(180deg); color: #F48205;}
.span-show {color: #F48205;}

.navbar-highlight-white {
    background: currentColor;
    margin: 32px 17px;
    height: 16px;
    width: 2px;
    color: #F5F5F5;
}

/* css principal da index */

div.index-section {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

#background { 
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -5;
    transition: width 0.5s;
}

.index-section #titulo{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5vw;
    color: #f5f5f5;
    width: min-content;
}

.index-section h1 {
    margin: 0;
    padding-top: 1rem;
    font-size: 6.2rem;
    letter-spacing: 0.05em;
}

.index-section #titulo div {
    width: 500px;
    margin: 0;
}

.index-section span {
    line-height: 4vh;
    letter-spacing: 1.3px;
}

.index-section #jogo {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 448px;
    margin-right: 5vw;
}

.index-section #jogo a {
    color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.index-section #jogo a img {
    margin-right: 10px;
}

.index-section a img {
    filter:brightness(5);
    height: 10rem;
}

.index-section a h2 {
    font-size: 6rem;
}

.index-section #jogo:hover + #background {
    width: 120%;
}

.index-section #jogo:hover img {
    filter:brightness(1);
}

.index-section #jogo:hover a {
    color: #459ee2;
}

/* Login e Cadastro */

body.login, body.cadastro {
    background: url('../_img/bg4.png');
}

div.login, div.cadastro {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90vw;
    height: 90vh;
    display: flex;
    color: #333;
}

.login-error #link, .cadastro-error #link {
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.login-error #link a span, .cadastro-error #link a span {
    color: #333;
    margin-left: 4px;
}

.login-error #link img, .cadastro-error #link img  {
    width: 1.5rem;
}

.login-error, .cadastro-error {
    background-color: rgba(255, 255, 255, 0.9);
    width: 33%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.alert-error {
    min-width: 70%;
    max-width: 90%;
    margin: 0 auto;
    border: #f38281 1px solid;
    border-radius: 3px;
    background-color: #FBDAD9;
    padding: 15px;
    height: 40%;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 40%;
    transform: translateY(-50%); 
    font-size: 18px;
}

.alert-error li {
    color: #6F262F;
}

.login-form, .cadastro-form {
    background-color: #fff;
    width: 67%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.login-criar-conta, .cadastro-entrar-conta {
    text-align: right;
    margin-right: 15px;
    margin-top: 25px;
}

.login-criar-conta a, .cadastro-entrar-conta a {
    border: 2px #6DA8D6 solid;
    background: #fff;
    color: #6DA8D6;
    padding: 11px 18px;
    border-radius: 50vh;
    transition: 0.15s;
    margin-left: 10px;
}

.login-criar-conta a:hover, .cadastro-entrar-conta a:hover {
    background: #6DA8D6;
    color: #fff;
}

.login-form-article, .cadastro-form-article  {
    margin-top: 65px;
    margin-left: 7%;
    margin-right: 7%;
}

.cadastro-form-article {
    margin-top: 40px;
}

.login-form-article h1 {
    font-size: 55px;
    margin-bottom: 40px;
}

.cadastro-form-article h1 {
    font-size: 55px;
    margin-bottom: 15px;
}

.login-form-article input:not(input[type="submit"], input[type="radio"]), .cadastro-form-article input:not(input[type="submit"], input[type="radio"]) {
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    margin-top: 3px;
}

.login-form-article input:not(input[type="submit"], input[type="radio"]) {
    margin-bottom: 30px;
}

.cadastro-form-article input:not(input[type="submit"], input[type="radio"]) {
    margin-bottom: 20px;
}

.login-form-article label, .cadastro-form-article label {
    font-weight: 700;
}

.esqueceu-senha {
    text-align: right;
    margin-bottom: 30px;
}

.esqueceu-senha a {
    color: #aaa;
}

.lembrar-login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.login-form-article input[type="submit"], .cadastro-form-article input[type="submit"] {
    width: 33%;
    height: 45px;
    color: #fff;
    background: #489cdd;
    border: none;
    border-radius: 50vh;
    font-size: 15px;
}

.cadastro-form-article input[type="submit"] {
    margin-top: 10px;
}

.login-form-article input[type="radio"] {
    margin-right: 10px;
}

.login-img img {
    height: 20px;
}

.login-img a {
    color: #333;    
}

/* página do jogo */

.question-view {
    padding-top: 110px;
    padding-bottom: 30px;
    background: url('../_img/bg4.png') fixed;
}

.question-div {
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width: 90%;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
}

.question-div img {
    max-width: 80%;
    border: 2px solid #000;
    margin-bottom: 30px;
}

.question-div div .question-alt {
    float: right;
    width: 18%;
}

.question-input {
    border: 3px solid #F48205;
    border-radius: 15px;
    min-width: min-content;
    width: 100%;
    padding-top: 15px;
    padding-left: 10px;
}

.question-div input[type="radio"] {
    display: none;
}

.question-div label {
    color: #F48205;
    font-size: 1.1rem;
}

.question-div label div {
    border: #F48205 1px solid;
    background: #fff;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
    transition: 0.2s;
}

.question-div label div:hover {
    background: #F48205;
    color: #fff;
}

.question-div input:checked ~ label div {
    background: #F48205;
    color: #fff;
}

.link-question {
    color: #fff;
    background-color: #F48205;
    padding: 8px;
    display: inline-block;
}

.link-question div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.question-div input#segundos, .question-div input#minutos {
    display: none;
}

.question-div input#responder-game {
    color: #fff;
    background-color: #070727;
    padding: 10px;
    width: 120px;
    border: none;
    font-size: 1rem;
}

.error-play, .finished-alert {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}

.error-play div, .finished-alert div {
    background-color: #fff;
    color: #333;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 20px;
    width: 400px;
}

.error-play div h2, .finished-alert div h2 {
    margin-bottom: 0;
}

.error-play div p, .finished-alert div p {
    margin-top: 10px;
}

.error-play div a, .finished-alert div a {
    background-color: #548fbd;
    padding: 10px;
    color: #f1f1f1;
}

.finished-alert div a#voltar {
    float: left;
}

.finished-alert div a#reiniciar {
    float: right;
}

.finished-remove {display: none;}
.finished-show {display: block;}

/* ccs resultado do jogo e classificacao*/

.resultado-section {
    background-color: #fff;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 55%;
    width: 90vw;
    height: 83vh;
}

.resultado-section h1 {
    margin-left: 20px;
}

.navbar-highlight-black {
    background: currentColor;
    margin: 4vh 17px;
    height: 52vh;
    width: 2px;
    color: #333;
}

.resultado-section .tables-resultados {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
}

div.table-resultado, div.table-clasificacao {
    width: 45%;
}

div.table-clasificacao {
    max-height: 59vh;
    overflow-y: auto;
}

table.table-resultado, table.table-clasificacao {
    width: 100%;
}

.table-resultado td, .table-clasificacao td {
    height: 50px;
    font-size: 1.1rem;
    padding: 5px;
}

.table-resultado td {
    width: 50%;
}

.table-clasificacao td {
    min-width: 33%;
}

.table-clasificacao th {
    min-width: 100px;
}

.table-resultado .td1, .table-clasificacao .td1 {
    background: #DDD;
    border: 1px solid #b6b6b6;
}

.table-resultado .td2, .table-clasificacao .td2 {
    background: #a7d5f8;
    border: 1px solid #69aadb;
}

.table-clasificacao .tdUser {
    background: #78b6e6;
}

.table-clasificacao .thUser {
    background: #c5c5c5;
}

.link-game {
    margin-left: 41px;
    margin-right: 41px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.link-game a, .search-player a {
    padding: 10px;
    background: #070727;
    color: #fff;
}

.search-player {
    margin-left: 41px;
    margin-top: 20px;
}

div.geral div {
    width: 100%;
}

div.geral {
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width: 95%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    max-height: 420px;
}

@media (min-width: 1025px) {}

@media (max-width: 1024px) {}